<?xml version="1.0"?>
<model>
    <name>sku_large_gear_vessel</name>
    <version>1.0</version>
    <sdf>sku_large_gear_vessel.sdf</sdf>
 
    <author>
        <name>John Michaloski</name>
        <email>john.michaloski@nist.gov</email>
    </author>

    <description>
    Large gear holder model.
    </description>
</model>

