<?xml version="1.0"?>
<model>
    <name>fanuc_lrmate200id</name>
    <version>1.0</version>
    <sdf version="1.6">fanuc_gripper_peter.sdf</sdf>

    <author>
        <name>Robot: Pavel P Gripper:Peter Mnev</name>
        <email>pavapil@gmail.com</email>
    </author>

    <description>
    Fanuc LRMate200id Robot.
    </description>
</model>

