<?xml version="1.0"?>
<model>
    <name>kitholder2</name>
    <version>1.0</version>
    <sdf>kitholder2.sdf</sdf>
 
    <author>
        <name>John Michaloski</name>
        <email>john.michaloski@nist.gov</email>
    </author>

    <description>
    Second kit holder of gears.
    </description>
</model>

