<?xml version="1.0"?>

<model>
  <name>sia20d</name>
  <version>1.0</version>
  <sdf version="1.2">motoman_aprs.sdf</sdf>
  <sdf version="1.3">motoman_aprs.sdf</sdf>
  <sdf version="1.4">motoman_aprs.sdf</sdf>
  <sdf version="1.5">motoman_aprs.sdf</sdf>
  <sdf version="1.6">motoman_aprs.sdf</sdf>

  <author>
    <name>Peter Mnev </name>
    <email>peter.mnev@nist.gov</email>
  </author>

  <description>
    Translation of Agility Lab Motoman and Gripper URDF into SDF.
  </description>
</model>
