<?xml version="1.0"?>

<model>
  <name>sia20d</name>
  <version>1.0</version>
  <sdf version="1.2">sia20d.sdf</sdf>
  <sdf version="1.3">sia20d.sdf</sdf>
  <sdf version="1.4">sia20d.sdf</sdf>
  <sdf version="1.5">sia20d.sdf</sdf>
  <sdf version="1.6">sia20d.sdf</sdf>

  <author>
    <name>John Michaloski</name>
    <email>john.michaloski@nist.gov</email>
  </author>

  <description>
    First translation of URDF to SDF.
  </description>
</model>
