<?xml version="1.0"?>
<robot name="motoman_sia20d" xmlns:xacro="http://ros.org/wiki/xacro">
   <xacro:include filename="$(find motoman_sia20d_support)/urdf/sia20d_macro.xacro"/>
   <xacro:include filename="$(find robotiq_c2_model_visualization)/urdf/robotiq_c2_model_macro.xacro"/>
    <xacro:motoman_sia20d prefix="motoman_"/>
   <xacro:robotiq_c2_model prefix="motoman_"/>

  <link name="world" />
 
  <!-- Dummy Link -->
  <link name="link0" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="link0" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
   
  <!-- Second Robot -->
  <joint name="motoman_joint_0" type="fixed">
    <parent link="link0" />
    <child link="motoman_base_link" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
   <joint name="motoman_link_t-tool0" type="fixed" >
     <!--  <origin xyz="0 0 0.0" rpy="0 0 -3.1416"/> -->
     <origin xyz="0 0 0.0" rpy="0  -1.57  0"/>
      <parent link="motoman_link_t" />
      <child link="motoman_robotiq_85_adapter_link" />
     </joint>
  
</robot>
