<?xml version="1.0"?>

<model>
  <name>AgilityLabl</name>
  <version>1.5</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Tony Downs</name>
  </author>

  <description>
    This is translation of sketch up model of the agility lab 
    into open cascade dae format. 
  </description>
</model>
